@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #722a2a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin:0;
}
p{
    font-size: 40px;
}
input {
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
border: none;
width: 400px;
height: 30px;
border-radius: 40px;
text-align: center;
font-size: 24px;
}

button{
    position: relative;
    left: 100px;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    margin-top: 20px;

}
.randomNumber{
    margin-bottom: 40px;
    font-weight: bold;
}
 
@media(max-width:700px){
    .card{
        flex-direction: column;
        align-items: center;
    }
    .user-form{
        max-width: 400px;
    }
}